{% extends 'master.html' %}
{% load static %}
{% load cart_tag %}
{% block content %}

<form method="post" action="{% url 'place-order' %}">
    {% csrf_token %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="{% url 'selindex' %}">Home</a></li>
                    <li class="active">Check out</li>
                </ol>
            </div><!--/breadcrums-->

            <div class="shopper-informations">
                <div class="row">
                    <div class="col-sm-12 clearfix">
                        <div class="bill-to">
                            <br>
                            <b>
                                <h3><p><strong>Billing Details</strong></p></h3>
                            </b>
                            <hr>
                                <div class="form-one">

                                    <input type="text" name="firstname" value="{{user.first_name}}"
                                           placeholder="First Name *" class="inputclass" readonly>
                                    <input type="text" name="lastname" value="{{user.username}}" class="inputclass"
                                           placeholder="Last Name *"
                                           readonly>
                                    <input type="email" class="inputclass" name="email" value="{{user.email}}"
                                           placeholder="Email*" readonly>
                                    <input type="text" class="inputclass" name="address" placeholder="Address *">
                                    <input type="text" class="inputclass" name="phone" placeholder="Phone *">
                                    <input type="text" class="inputclass" name="country" placeholder="Country *">
                                    <input type="text" class="inputclass" name="state" placeholder="State *">
                                    <input type="text" class="inputclass" name="zip" placeholder="Zip *">
                                </div>

                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>

            <div class="container mt-4">
                <div class="col">
                    <div class="col-lg-12">
                        <div class="table-responsive ">
                            <table class="table table-bordered">
                                <thead style="background-color: #FE980F;">
                                <tr>
                                    <th>Sr No</th>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th>Shipping</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key,value in request.session.cart.items %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{value.name}}</td>
                                    <td>{{value.price}}</td>
                                    <td>{{value.quantity}}</td>
                                    <td>${{ value.price|multiply:value.quantity }}</td>
                                    <td>No Extra Charge</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <td><h5>Total</h5></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><input value="${{cart_total_amount}}" name="amount"
                                           style="background-color:white; border: 0 none;" readonly></td>
                                </tfoot>
                            </table>
                        </div>
                        <div class="place-order mt-3" style="float:right;">
                            <button type="submit" class="btn btn-primary">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </section>
</form>
<!--/#cart_items-->


{% endblock %}