{% extends 'master.html' %}
{% load static %}
{% block content %}


<div class="container px-5">
    <div class="mb-4">

        <br>
        <h2>Confirm order and pay</h2>
        <span>please make the payment, after that you can enjoy all the features and benefits.</span>
        </br>
        </br>
    </div>
    <div class="row mt-5">

        <div class="col-md-10">


            <div class="card p-5">

                <h6 class="text-uppercase">Payment details</h6>
                <div class="inputbox mt-3"> <input type="text" name="name" class="form-control" required="required">
                    <span>Name on card</span> </div>


                <div class="row">

                    <div class="col-md-6">

                        <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control"
                                required="required"> <i class="fa fa-credit-card"></i> <span>Card Number</span>


                        </div>


                    </div>

                    <div class="col-md-6">

                        <div class="d-flex flex-row">


                            <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control"
                                    required="required"> <span>Expiry</span> </div>

                            <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control"
                                    required="required"> <span>CVV</span> </div>


                        </div>
                    </div>
                </div>

                <div class="mt-4 mb-4">
                    <h6 class="text-uppercase">Billing Address</h6>
                    <div class="row mt-3">

                        <div class="col-md-6">

                            <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control"
                                    required="required"> <span>Street Address</span> </div>


                        </div>


                        <div class="col-md-6">

                            <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control"
                                    required="required"> <span>City</span> </div>


                        </div>
                    </div>


                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control"
                                    required="required"> <span>State/Province</span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control"
                                    required="required"> <span>Zip code</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-4 mb-4 d-flex justify-content-between">
                <span><button class="btn btn-success px-3"><a href="">Previous</a></button></span>

                <button class="btn btn-success px-3"><a href="">Pay</a></button>
            </div>

        </div>

        <div class="col-md-4">
            <div class="hightlight">
            </div>
        </div>

    </div>
</div>


{% endblock %}